*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    display:flex;
}

/* Sidebar */

.sidebar {
    width:220px;
    background:#1e293b;
    color:white;
    padding:20px;
    height:100vh;
    position:fixed;
}

.sidebar h2 {
    margin-bottom:30px;
}

.sidebar ul {
    list-style:none;
}

.sidebar li {
    margin:15px 0;
}

.sidebar a{
    text-decoration:none;
    color:white;
    font-size:16px;
}

.sidebar a:hover{
    color:#3b82f6;
}

/* Main content */

.main-content {
    margin-left:240px;
    padding:30px;
    width:100%;
}

.container {
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

/* Heading */

h1 {
    margin-bottom:20px;
}

/* Filter */

.filter-section {
    margin-bottom:20px;
    display:flex;
    justify-content:flex-end;
    gap:10px;
}

select, button {
    padding:8px 12px;
    border-radius:5px;
    border:1px solid #ccc;
}

button {
    background:#3b82f6;
    color:white;
    border:none;
    cursor:pointer;
}

button:hover {
    background:#2563eb;
}

/* Table */

table {
    width:100%;
    border-collapse:collapse;
}

th {
    background:#f1f5f9;
}

th, td {
    padding:12px;
    border-bottom:1px solid #ddd;
    text-align:center;
}

img {
    width:80px;
    border-radius:6px;
}

/* Buttons */

.resolve-btn {
    background:#10b981;
    color:white;
    border:none;
    padding:6px 10px;
    border-radius:5px;
}

.delete-btn {
    background:#ef4444;
    color:white;
    border:none;
    padding:6px 10px;
    border-radius:5px;
}