body {
    overflow: hidden;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    background: #f4f6f9;
}

li>a{
    text-decoration: none;
    color: white;
}

.sidebar {
    width: 220px;
    background: #1e293b;
    color: white;
    padding: 20px;
    height: 100vh;
}

.sidebar h2 {
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 15px 0;
    cursor: pointer;
}

.main-content {
    flex: 1;
    padding: 20px;
}

header {
    margin-bottom: 20px;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.total { background: #3b82f6; }
.pending { background: #f59e0b; }
.resolved { background: #10b981; }

.card p {
    font-size: 28px;
    margin: 10px 0 0;
}

.table-section {
    margin-top: 30px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

button {
    padding: 5px 10px;
    border: none;
    background: #3b82f6;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
